
name: Deploy to Github Pages
on:
  push:
    branches:
      - main
jobs:
  gh-pages-deploy:
    name: Deploying to Github Pages
    runs-on: ubuntu-latest
    steps:
        - uses: actions/checkout@v2
        - uses: actions/setup-node@v2
          with:
            node-version: '12'
        - name: Install packages
          run: npm i
        - run: git config user.name "Check mon vax" && git config user.email "contact@checkmonvax.net"
        - run: git checkout --orphan gh-pages
        - run: npm run build
        - run: git --work-tree dist add --all
        - run: git --work-tree dist commit -m "Deploying pages"
        - run: git push origin HEAD:gh-pages --force
